.contact{
  display: flex;
  flex-direction: column;
  background-color:whitesmoke;
  margin-top: 165px;
  margin-bottom: 72px;
  padding-top: 5px;
  padding-bottom: 5%;
  flex-wrap: wrap;
  height: 100%;
  margin-left: 20px;
  padding-right: 100px;
}

h2{
  font-size: 2.8em;
  font-family: system-ui;
  margin-bottom: 2px;
  

}
.header-text{
  line-height: 1.5;
}

.subtitle{
  padding-bottom: 30px;
  font-family: "Gill Sans", sans-serif;
  font-size: 1.2em;
  margin-bottom: -20px;

}

.box {
  width: 200px;
  height: 200px;
  background-color: blue;
  color: white;
  text-align: center;
  line-height: 200px;
}

.highlight {
  background-color: yellow;
  color: black;
}

.contact-form{
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  padding-top: 1%;
  padding-right: 105px;
  flex-wrap: wrap;
}

.icon{
  width: 20px;
  height:20px;
}

.contact-info-item{
  display: flex;
  flex-direction: row;
  margin-left: 10px;
  margin-top: 12px;
  
}

.icon-text{
  padding-left: 5px;
  font-size: 1.2em;
  font-family: "Gill Sans", sans-serif;
  color: rgb(90, 103, 115);
  margin-top: -2px;
  line-height: 20px;
}

.contact-info{
  width: 280px;
  height: 180px;
  background: linear-gradient(rgb(224, 223, 223), rgb(205, 202, 202));
  border-radius: 6px;
  border-color: gold;
  border-style: solid;
  margin-top: 10px;
  margin-left: 10px;

}

.toggleButton{
  margin: 10px;
  padding: 10px;
  background-color: rgb(183, 172, 160);
  color: black;
  font-size: 1.2em;
  font-family: 'Barlow Condensed','Arial Narrow','Roboto Condensed','Open Sans Condensed',sans-serif;
  cursor: pointer;
  transition: 0.3s;
  width: 150px;
  margin-left: 50px;
  
}

.toggle-change{
  background: linear-gradient(rgb(205, 202, 202), rgb(224, 223, 223));
  border-color: goldenrod;
}

.line {
  margin-top: 20px;
  padding-right: 100px;
  width: 100%;
  height: 1px;
  background-color: black;
}